  <ion-view view-title="Practice with Ti">
      <ion-content>

        <div class="list list-inset">
          <!--          <div class="card">-->
          <div class="item item-divider">Get Inspired</div>

          <!-- Blab Session    -->
          <iframe style='max-width: 100%;' src='https://blab.im/ti-thecodingyogini-demodayprep3' frameborder='0' height='480' scrolling='none' width='640'></iframe>
<!--          <iframe style='max-width: 100%;' src='https://blab.im/ti-thecodingyogini-live-yoga-class-1' frameborder='0' height='480' scrolling='none' width='640'></iframe>-->

          </div>

          <!--    Google hangouts   -->

          <div class="item">
            <script src="https://apis.google.com/js/platform.js" async defer></script>

            <div class="g-hangout" data-render="createhangout"></div>

            <span class="input-label">Take a Live Class With Ti</span>
          </div>
          <div class=" quote item item-icon-left item-text-wrap">
            <p>Practice with Ti in a weekly live broadcast -- or schedule a private virtual class in the future!
            </p>

          </div>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input type="text" placeholder="Your first name">
            </label>

            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input type="text" placeholder="Your last name">
            </label>
          </div>

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="email" placeholder="you@email.com">
            </label>
          </div>

        <div class="item item-checkbox checkbox-energized">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          <span class="input-label">Contact me to Schedule a Private Class!</span>
        </div>


          <!--            <div class="item isubmit buttons and item divider as footertem-input">-->
          <button class="button button-full button-energized">Submit</button>
        </div>
    <button class="button button-block button-dark" ui-sref="donate">Donate today</button>

        <div class="item item-divider">
          <p>
            Copyright &#xA9; 2016 by Ti: The Coding Yogini.  All rights reserved.
          </p>
        </div>
      </ion-content>
    </ion-view>



