
    <ion-view hide-nav-bar="true">
      <ion-header-bar align-title="left" class="bar-energized">
        <h1 class="title">Email Ti</h1>
        <div class="buttons">
          <button class="button" ng-click="sendMail()">
            <i class="icon ion-android-send"></i>
          </button>
        </div>
      </ion-header-bar>
      <ion-content>

        <div class="list">

          <label class="item item-input">
            <span class="input-label">From*</span>
            <input type="email" autofocus placeholder="example@gmail.com" ng-model="MailData.senderEmail">
          </label>

          <label class="item item-input">
            <span class="input-label">Name*</span>
            <input type="text" ng-model="MailData.senderName">
          </label>

          <label class="item item-input">
            <span class="input-label">To*</span>
            <input type="email" ng-model="MailData.receiverEmail">
          </label>

          <label class="item item-input">
            <span class="input-label">Subject</span>
            <input type="text" ng-model="MailData.subject">
          </label>

          <label class="item item-input no-border-bottom">
            <textarea placeholder="Compose email" style="height: 25vh !important" ng-model="MailData.html"></textarea>
          </label>

        </div>

      </div>
      </ion-content>
    </ion-view>
