<ion-view hide-nav-bar="true">

  <ion-content class="splash padding login-page">

<!--    logo and tagline-->
    <div class="brand">
      <img src="img/newlogo.png" alt="Ti Logo">
      <div class="tagline"><h3>On-the-Go-Yoga-with-Ti</h3></div>
      <p class="byline">Yoga every darn day: anytime and anywhere!</p>
    </div>

<!--    login form-->
    <div class="login-div">
      <form name="loginForm">

      <button class="button button-block button-energized" ui-sref="outside.login">Login</button>
      <!-- was ng-click="login()"-->
<!--      use ui routing ui-sref to link to register/sign up page-->
      <!--       or use for clear button - unsure "button button-positive button-clear button-full"-->
        <button class="button button-block button-dark" ui-sref="outside.register">Create Account</button>

  </ion-content>
</ion-view>
