//page/view seen once users are logged in  - button to grab info from DB - string with greeting and username
// also destroy button to show if user looses the token or something
<ion-view hide-nav-bar="true">
  <ion-footer-bar align-title="center" class="bar-energized">
    <h1 class="title">Members</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()" ui-sref="tabs.home">Logout</button>
    </div>
    <div class="buttons">
      <button class="button button-clear" ui-sref="tabs.list">Enter App</button>
    </div>
  </ion-footer-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        {{memberinfo}}
      </div>
    </div>
    <button class="button button-full button-assertive" ng-click="destroySession()">
      Take it back (destroy token)
    </button>
    <button class="button button-full button-balanced" ng-click="getInfo()">
      Get message from Ti (view membership)
    </button>

<!--    video-->
    <iframe src="https://player.vimeo.com/video/157680012?color=ff9933&title=0&byline=0&portrait=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/tiwegmeyer"></a><a href="https://vimeo.com"></a>.</p>

  </ion-content>
</ion-view>
