<!-- created global nav bar and back button so redoing header bar here-->
<ion-view hide-footer-bar="true" view-title="Videos">
<!--  <ion-header-bar class="bar-energized">-->

<!--  wrap buttons in ion nav buttons -->
  <ion-nav-buttons side="primary">
    <!--        delete button placed primary for left  -->
    <button class="button button-icon icon ion-trash-a" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;"></button>
  </ion-nav-buttons>
<!--  replaced in ion view  -->
<!--    <h2 class="title">Videos</h2>-->
  <ion-nav-buttons side="secondary">
    <!--     reorder button drag capability placed right -->
    <button class="button button-icon ion-arrow-swap" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;"></button>
  </ion-nav-buttons>
<!--  </ion-header-bar>-->
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search Videos">
    </label>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher on-refresh="refreshList()">
    </ion-refresher>
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-class="{'star':item.star}" ng-repeat="item in videos | filter: query" class="videos item item-thumbnail-left.item-complex item-icon-right item-text-wrap" href="#/tab/list/{{item.vimeoId}}">
        <!--            PICS    -->
<!--       <img ng-src="img/{{item.pic}}.jpg" alt="{{item.title}} Pic">-->
        <!--WRONG!!   <source src="img/{{item.pic}}.m4v" type="video/m4v">-->

        <!-- $sce works, but going to serve off vimeo instead
<video width="200" height="100" controls>
<source src="{{$sce.trustAsResourceUrl('img/' + item.pic + m4v)}}" type="video/m4v">
</video>
-->
        <!--        THIS WORKS BUT NEED TO STYLE THUMBNAIL and set left-->
        <!--        TEST:     <p>{{item.vimeoId}}</p>-->
        <iframe ng-src="{{$sce.trustAsResourceUrl(&apos;https://player.vimeo.com/video/&apos; + item.vimeoId)}}" width="100" height="100" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen></iframe>
        <p><a href="https://vimeo.com/157349623"></a><a href="https://vimeo.com/user49530969"></a><a href="https://vimeo.com"></a></p>

        <div class="video-text">
          <h2>{{item.title}}</h2>
        <h4>Level: {{item.level}}</h4>
        <h4>Time: {{item.time}} minutes</h4>
        <p>{{item.description | limitTo: 80}}
          {{item.description.length > 150 ? '&hellip;' : '' }}</p>
        </div>

        <!--        favorites star button  -->
        <button class="button button-clear icon ion-star button-energized" ng-click="toggleStar(item)" ng-show="item.star"></button>
        <!--            favorites swipe button  -->
        <ion-option-button class="button-energized" ng-click="toggleStar(item)"><i class="icon ion-star"></i></ion-option-button>
        <!--            delete button -->
        <ion-delete-button class="icon ion-trash-a" ng-click="deleteItem(item)"></ion-delete-button>
        <!--             reorder button -->
        <ion-reorder-button class="icon ion-arrow-swap" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
