//register - sign up page/view
<ion-view title="Create a new account">
  <ion-content has-subheader class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="user.name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="button button-full button-energized" ng-click="signup()">
      Sign up
    </button>
    <button class="button button-positive button-clear button-full" ui-sref="outside.login">Login</button>
  </ion-content>
</ion-view>
