<ion-tabs class="tabs-icon-top tabs-dark">

  <!--    home page tab   -->
  <ion-tab title="Home" icon="ion-home"
           href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
<!--  Videos tab  -->
  <!--  or: ion-android-phone-landscape for phone landscape icon-->
  <ion-tab title="Videos" icon="ion-play"
    href="#/tab/list">
<!--    load child template - app.js  -->
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

<!--  Calendar Tab  -->
  <ion-tab title="Calendar" icon="ion-calendar"
           href="#/tab/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>

  <!--  Connect with Ti Tab  -->
  <ion-tab title="Live Class" icon="ion-videocamera"
           href="#/tab/connect">
    <ion-nav-view name="connect-tab"></ion-nav-view>
  </ion-tab>

  <!--  Email Ti Tab  -->
  <ion-tab title="Email" icon="ion-paper-airplane"
           href="#/tab/email">
    <ion-nav-view name="email-tab"></ion-nav-view>
  </ion-tab>

  <!-- Inspiring Texts from Ti Tab  -->
  <ion-tab title="Inspiration" icon="ion-ios-flower"
           href="#/tab/inspiration">
    <ion-nav-view name="inspiration-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

