/*  body - finger cursor for most */
body {
  cursor: url('http://ionicframework.com/img/finger.png');
}

/*  home page tab */
.splash {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.brand {
  margin-top: 10px;
  text-align: center;
}



.brand img {
  margin: 0 auto;
  width: 25%;
  max-width: 300px;

}



.brand p {
  margin-top: 2px;
  font-size: .5 rem;
  font-style: italic;

}

.tagline  {
  font-size: .7 rem;
  font-weight: bold;
}

.tagline h4 {
  color: #fff;
}


/*  Video and Calendar Star background tabs */

.star>.item-content {
  background-color: #EEE8D6 !important;
}

/*  stylize color energized custom to orangish  */

.bar-energized, tabs-energized>.tabs {
  background-color: #e67e22 !important;
  border-color:#e67e22;
}

.button.button-energized {
  border-color: transparent;
  background-color: #e67e22;
  color: #fff;
/*  need to fix big button but not side panel*/
/*  border-radius: 10px;*/

}


/*  vieo page tab */

/*  NEED TO FIX TEXT with IFRAME!*/
.video-text {
display: inline;
border-radius: 10px;
}


/* want rounded edges on iframe - unsure??? */
.item-thumbnail-left img {
 border-radius: 10px;
}

.video-text h2 {
  color: #e67e22;
}

/*  Calendar page tab  */

.item-divider {
  background-color: #EEE8D6;
}

.item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e67e22;
}

.dayhighlight {
  background-color: #e99041;
  border-top: 20px solid #e67e22;
}

.dayhighlight h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
}

/*  donate page  */

.exp-input {
  height: 30px;
  width: 50px;
  border: 1px solid grey;
  text-align: center
}
.text-input {
  height: 30px;
  border: 1px solid grey;
  padding-left: 10px
}


