.star>.item-content {
  background-color: #EEE8D6 !important;
}

.video-text {
  display: inline;
}

.splash {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand {
  margin-top: 20px;
  text-align: center;
}

.brand img {
  margin: 0 auto;
  width: 40%;
  max-width: 200px;
  text-align: center;
}

.brand p {
  font-size: 15px;
}

.tagline  {
  font-size: 20px;
}


